<ion-tabs class="tabs-icon-top tabs-color-light-positive tabs-dark">
    <ion-tab title="Eventos"  icon="ion-home" href="#/tabs/dashboard">
        <ion-nav-view name="tab-dashboard"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Aulas" icon="ion-android-list" href="#/tabs/criar">
        <ion-nav-view name="tab-criar"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Minha Conta" icon="ion-log-in" href="#/tabs/login">
        <ion-nav-view name="tab-login"></ion-nav-view>
    </ion-tab>
</ion-tabs>
